/* CSS Starts Here*/
body{
	font-type: Arial;
	background-color: rgb(98, 144, 176);
}

form{
	padding: 16px;
	border: 4px;
	background-color: rgb(197, 209, 218);
}

input{
	display: block;
}

@media all and (min-width: 50px) {
* {
  box-sizing: border-box;
}